<div class="container employee">
  <form (ngSubmit)="addEmployee(obj);" >

    <div class="form-group row">
      <div class="text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn88bX1IaISahOhQ_ZcO_T7v-LPxJbzfvrZkKn8GQvOLASOhvm" class="rounded float-right" alt="Image">
      </div>
    </div>

    <div class="form-group row">

      <label class="col-md-2">ID</label>
      <div class="col-md-4">
        <input type="text"   [(ngModel)]="obj.id"  name="id" class="form-control" placeholder="ID">
      </div>

      <label class="col-md-2">Name</label>
      <div class="col-md-4">
        <input type="text"  [(ngModel)]="obj.name"  name="_name"  class="form-control" placeholder="Name">
      </div>

    </div>





    <div class="form-group row">
      <label class="col-md-2">D.O.B</label>
      <div class="col-md-4">
        <input type="text"  [(ngModel)]="obj.dob"  name="dob" class="form-control" placeholder="DOB">
      </div>
      <label class="col-md-2">NRC</label>
      <div class="col-md-4">
        <input type="text"  [(ngModel)]="obj.nrc"  name="nrc" class="form-control" placeholder="NRC">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-md-2">Gender</label>
      <div class="col-md-4">
      <select class="form-control"   [(ngModel)]="obj.gender"  name="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2">&nbsp;</label>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" (click)="clear()" class="btn btn-info">Clear</button>
        </div>
    </div>


  </form>

  <!-- <pre>{{obj | json}}</pre> -->
</div>
<app-employee-list></app-employee-list>