<div class="container">

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">NRC</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of employee | async ">
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.dob}}</td>
        <td>{{obj.nrc}}</td>
        <td>{{obj.gender}}</td>
      </tr>
    </tbody>
  </table>
  </div>